<ion-content>
    <img src="../assets/brand/bg-login.png" alt="">
    <ion-card class="logo-login">
      <img src="../assets/brand/logo.png" alt="">
    </ion-card>
    <p text-center>
      <ion-text color="primary">Recuperación de clave</ion-text>
    </p>
    <ion-card color="danger" *ngIf="errorMessage">
        <ion-card-content>
          {{errorMessage}}
        </ion-card-content>
      </ion-card>
    <form [formGroup]="forgotPasswordForm" (submit)="recoverPassword()">
      <ion-list lines="none">
        <ion-item class="cInput">
          <ion-input formControlName="rut" type="text" placeholder="RUT"></ion-input>
        </ion-item>        
      </ion-list>
    </form>
    <ion-item text-center details="false" lines="none" button routerLink="/auth">
      <ion-label color="primary">Recordé mi clave</ion-label>
    </ion-item>
    <p text-center>
      <ion-button (click)="recoverPassword()" [disabled]="!forgotPasswordForm.valid" shape="round" color="primary">Recuperar</ion-button>
    </p>
  </ion-content>