<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<!--
<ion-content>
  <ion-list>
    <ion-item *ngIf="notification.notifications.length == 0">
      No hay notificaciones nuevas
    </ion-item>
    <ion-item *ngFor="let not of notification.notifications">
      <ion-label>
        <p><strong>{{not.title}}</strong></p>
        <p>{{not.body}}</p>
        <p>
          <i>{{not.wasReceivedAt}}</i>
        </p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="notification.delete(not)">
          <ion-icon name="trash" color="danger" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    
  </ion-list>
</ion-content>
-->

